
.menu {
    display: flex;
}

.menu a:not(:last-child) {
    margin-right: 10px;
}

.menu a:last-child {
    margin-left: auto;
}

.user {
    color: chartreuse;
    margin-left: auto;
    background: yellow;
}