.menu {
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    background-color: white;
    padding: 24px 48px;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.menu a {
    color: rgb(80, 79, 79);
}

.menu a:not(:last-child) {
    margin-right: 10px;
}

.menu a:visited {
    color: green;
}


@media only screen and (max-width: 480px) {
    .menu {
        padding: 18px 14px;
    }
}