.maingrid {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 58px 1fr;
    grid-gap: 10px;

    grid-template-areas: 
        'menu menu'
        'filter content';
}

.menu {
    grid-area: menu;
}

.filter {
    grid-area: filter;
}

.content {
    grid-area: content;
}

@media only screen and (max-width: 780px) {
    .maingrid {
        grid-template-areas: 
        'menu menu'
        'filter filter'
        'content content';
    }
  }
