.maingrid {
    padding: 24px 48px;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;

    grid-template-areas: 
        'menu menu'
        'filter content'
        'footer footer';
}

.menu {
    grid-area: menu;
}

.filter {
    grid-area: filter;
}

.content {
    grid-area: content;
}

.footer{
    grid-area: footer;

    margin-top: 28px;
}

@media only screen and (max-width: 780px) {
    .maingrid {
        grid-template-areas: 
        'menu menu'
        'filter filter'
        'content content'
        'footer footer';
    }
  }
